@import './vendors/reset';
@import './utils/mixins';


body {
    background-color: #EEE5E5;
    font-family: 'Ubuntu', sans-serif;

    header {
        width: 100%;
        height: 100%;

        h1 {

            width: 100%;
            text-align: center;
            font-weight: 900;
            margin: 0 auto;
            font-size: 30px;
            margin-top: 20px;

           @include for-size (desktop-up) {
            font-size: 30px;
           }


            img {
                height: 40px;
                width: 40px;
            }
        }


        .filterNav {
            margin-top: 20px;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            gap: 10px;

            @include for-size (phone-only) {
                display: flex;
                flex-wrap: wrap;
            }


            .todoBtn {
                background-color: #19647E;
                height: 30px;
                width: 100px;
                border-radius: 5px;
                font-size: larger;
                font-family: 'Ubuntu', sans-serif;
                border: solid 4px #313E50;
                cursor: pointer;
                transition: ease-in-out;

            }
            .todoBtn:hover {
                transition-duration: 150ms;
                color: #333;
                background-color: #519db6;

            }

            .doingBtn {
                background-color: #5DA399;
                height: 30px;
                width: 100px;
                border-radius: 5px;
                font-size: larger;
                font-family: 'Ubuntu', sans-serif;
                border: solid 4px #313E50;
                cursor: pointer;
            }
            .doingBtn:hover {
                transition-duration: 150ms;
                color: #333;
                background-color: #6accbc;

            }
        

            .doneBtn {
                background-color: #28AFB0;
                height: 30px;
                width: 100px;
                border-radius: 5px;
                font-size: larger;
                font-family: 'Ubuntu', sans-serif;
                border: solid 4px #313E50;
                cursor: pointer;
                transition: ease-in-out;

            }
            .doneBtn:hover {
                transition-duration: 150ms;
                color: #333;
                background-color: #6accbc;

            }

            .daysBtn {
                background-color: #397367;
                height: 30px;
                width: 100px;
                border-radius: 5px;
                font-size: larger;
                font-family: 'Ubuntu', sans-serif;
                border: solid 4px #313E50;
                cursor: pointer;
            }
            .daysBtn:hover {
                transition-duration: 150ms;
                color: #333;
                background-color: #56a898;

            }
        }
    }

    main {
        width: 100%;
        height: 100%;
        margin-top: 20px;

        .formContainer {
            width: 100%;
            height: 100%;
            margin: 0 auto;

            display: flex;
            justify-content: center;
            gap: 10px;

            input {
                width: 155px;

            }
            .submitBtn {
                height: 30px;
                width: 80px;
                background-color: #73877B;
                border-radius: 5px;
                border: solid 4px #313E50;
                cursor: pointer;
            }
            .submitBtn:hover {
                transition-duration: 150ms;
                color: #333;
                background-color: #56a898;

            }
            
        }

        .listContainer {
            width: 100%;
            height: 100%;

            .list {
                width: 100%;
                height: 100%;
                margin-top: 15px;
                display: flex;
                justify-content: space-around;
                gap: 20px;
                flex-wrap: wrap;


                .card {
                    height: 250px;
                    width: 250px;
                    background-color: #5DA399;
                    border-radius: 10px;
                    border: solid 4px #313E50;

                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-bottom: 20px;
                    overflow: hidden;
                    padding: 2px;
                    word-wrap: break-word;
                    
                    
                    

                    span {
                        text-align: center;
                        margin-top: 5px;
                        font-weight: 600;
                        font-size: 20px;
                    }

                    .but {
                        border: none;
                        background-color: #5DA399;
                    }

                    img {
                        height: 80px;
                    }

                  
                
                  
    
                    
                }
            }
        }
    }
}